/* HeroesComponent's private CSS styles */
.selected {
  background-color: #CFD8DC !important;
  color: #00047a;
}

.heroes {
  margin: 0 0 0 0;
  list-style-type: none;
  padding: 0;
}

.heroes .listElement {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  padding: 2px 10px 8px 0;
  height: 16px;
  border-radius: 4px;
  white-space: nowrap;
}

.heroes input.listElement {
  height: 12px;
}

.heroes button {
  background-color: #9cc9d6;
  color: #607D8B;
  border-radius: 4px;
}

.heroes div.listElement.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}

.heroes div.listElement:hover {
  color: #607D8B;
  background-color: #DDD;
  left: 2px;
}

.heroes .text {
  position: relative;
}

table.heroes tr{
  text-align: left;
}

.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 8px 10px 0 8px;
  background-color: #607D8B;
  line-height: 10px;
  position: relative;
  left: -0px;
  top: -2px;
  height: 18px;
  margin-right: 8px;
  border-radius: 6px 0 0 6px;
}
