<h2>My Heroes</h2>
<table class="idListTable">
  <tr>
    <th><input class="listElement" #heroName placeholder="name"/></th>
    <th>
      <button (click)="add(heroName.value); heroName.value=''">+</button>
    </th>
  </tr>
  <tr *ngFor="let hero of heroes"
      (click)="onSelect(hero)" >
    <th class="listElement" [class.selected]="hero === selectedHero">
        <span class="badge" routerLink="/detail/{{hero.id}}">{{hero.id}}</span>
        {{hero.name}}
    </th>
    <th>
      <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
    <th>
  </tr>
</table>

<div *ngIf="selectedHero">
  <app-hero-preview [hero]="selectedHero"></app-hero-preview>
</div>
